.register{
    .register-title{
        text-align: center;
    }
    .register-box{
        max-width: 500px;
        margin: 100px auto;
    }
    form{

        .next-btn{
            display: block  ;
            margin-left: auto;
        }
    }
}